body {
    width: 95%;
    margin: 30px auto;
    font-family: Poppins, sans-serif;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.34);
    font-size: 20px;
}

h2 {
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
    color: #204d8b;
}

h4 {
    font-weight: 400;
    margin-bottom: 5px;
}

h5 {
    font-weight: 400;
    margin: 5px 0 5px 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.expand-button {
    outline: none;
    background-color: transparent;
    border: none;
    color: #295c8b;
    padding-top: 25px;
    padding-left: 10px;
    font-size: 20px;
}

.list-title {
    margin-bottom: 0;
}

.personal-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 0;
}

.personal-info > img {
    width: 400px;
    height: 400px;
    margin: 40px 0;
    animation: bounce 1s linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.48);
}

@keyframes bounce {
    0% {
        box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.48);
    }
    25% {
        box-shadow: 0 0 20px 11px rgba(0, 0, 0, 0.48);
    }
    50% {
        box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.48);
    }
    75% {
        box-shadow: 0 0 20px 11px rgba(0, 0, 0, 0.48);
    }
    100% {
        box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.48);
    }
}

.modal-window {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.64);
    backface-visibility: visible;
    animation: grow 0.25s linear;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes grow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.modal-content {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.modal-content > img {
    max-width: 100%;
    max-height: 100%;
}

.personal-info .personal-info_title .personal-info_title-name {
    font-size: 50px;
    font-weight: 700;
    color: #204d8b;
    margin-bottom: 5px;
}

.personal-info .personal-info_title .personal-info_title-position {
    font-size: 30px;
    font-weight: 500;
    color: #28568b;
    text-align: center;
    margin-top: 0;
}

.personal-info .personal-info_title .personal-info_contacts {
    font-size: 20px;
}

.personal-info .personal-info_title .personal-info_links {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.personal-info .personal-info_title .personal-info_links > a {
    font-size: 50px;
    color: #204d8b;
    margin: 30px;
}

.summary {
    text-align: justify;
}

.skills-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.skills-list .skills-list_tech {
    margin-right: 100px;
}

.languages-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.languages-list_item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.languages-list_item-title {
    margin-right: 10px;
}

.progressbar {
    height: 15px;
    width: 150px;
    background-color: transparent;
    border: 1px solid #295c8b;
    padding: 3px;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 34%);
    border-radius: 20px;
}

.progressbar > span {
    display: block;
    height: 100%;
    width: 0;
    background-color: #204d8b;
    border-radius: 20px;
    animation: move 1.5s linear forwards;
    animation-play-state: paused;
}

.languages-list .languages-list_item:first-child .progressbar > span {
    animation: move1 1.5s linear forwards;
    animation-play-state: paused;
}

@keyframes move {

    100% {
        width: 100%;
    }
}

@keyframes move1 {
    100% {
        width: 70%;
    }
}

.items-list_title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.education .wrapper .items-list .items-list_container .hidden-text {
    font-size: 17px;
    opacity: 0;
    display: none;
    animation: show 1s linear forwards;
    animation-play-state: paused;
}

@keyframes show {
    100% {
        opacity: 1;
    }
}

.education .wrapper .items-list .open .hidden-text {
    display: block;
    animation-play-state: running;
}

.fas.fa-chevron-up {
    display: none;
}

.education .wrapper .items-list .open .fas.fa-chevron-up {
    display: inline-block;
}

.education .wrapper .items-list .open .fas.fa-chevron-down {
    display: none;
}

.work-experience .wrapper .items-list .open {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    flex-wrap: nowrap;
}

.work-experience .wrapper .items-list .items-list_container .hidden-text {
    display: none;
    font-size: 15px;
    opacity: 0;
    animation: show 1s linear forwards;
    animation-play-state: paused;
    margin: 15px;
}

.work-experience .wrapper .items-list .open .hidden-text {
    display: block;
    animation-play-state: running;
    text-align: justify;
}

.fas.fa-chevron-left {
    display: none;
}

.work-experience .wrapper .items-list .open .fas.fa-chevron-left {
    display: inline-block;
    text-align: center;
}

.work-experience .wrapper .items-list .open .fas.fa-chevron-right {
    display: none;
}

.work-experience .wrapper .items-list .open .items-list_position {
    flex-grow: 1;
    flex-shrink: 0;
}

footer {
    background-color: #91adcf;
    height: 60px;
    margin-top: 20px;
    width: 100%;
}

.footer-info {
    color: #000000;
    text-align: center;
    position: relative;
}

.footer-info::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 543px;
    background-color: #295c8b;
    width: 4px;
    height: 21px;
}

.footer-info::after {
    content: '';
    position: absolute;
    top: 4px;
    right: 543px;
    background-color: #295c8b;
    width: 4px;
    height: 21px;
}

@media (max-width: 576px) {

    body {
        width: 100%;
        margin: 15px;
    }

    .personal-info {
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    #modalImage {
        width: 100%;
        height: 100%;
        margin: 40px;
    }

    .skills-list {
        flex-direction: column;
        justify-content: left;
    }

    .languages-list {
        flex-direction: column;
        justify-content: left;
    }

    .items-list_title {
        flex-direction: column;
        justify-content: left;
    }

    .education .wrapper .items-list .items-list_container {
        text-align: justify;
    }

    .work-experience .wrapper .items-list .open .items-list_position {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .work-experience .wrapper .items-list .items-list_container .items-list_position {
        text-align: center;
    }

    .footer-info::before {
        content: '';
        display: none;
    }

    .footer-info::after {
        content: '';
        display: none;
    }
}

